*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html, body {
   height: 100%;
   margin: 0;
}

html{
   scroll-behavior: smooth;
}

.navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 15px 40px;
   z-index: 2000;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-top:1.5rem;
   padding-bottom:2rem;
   border-style:double;
   background: rgba(0, 0, 0, 0.594);
   backdrop-filter: blur(10px);
}
/* button effects */
.navbar li a {
   padding: 10px 18px;
   border-radius: 20px;
   transition: background 0.3s ease, transform 0.2s ease;
}
/*this gives a hover effect */
.navbar li a:hover {
   background: rgba(255, 255, 255, 0.25);
   transform: translateY(-3px); 
}


.navbar ul {
   list-style: none;
   display: flex;
   gap: 30px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size: 13px;
   margin: 0;
   padding: 0;
}

.navbar a {
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-weight: bold;

   
}


.experience {
   height: 100vh;
   width: 100%;
   background-image: url(../sasuke.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
}


.experience h1 {
   color: white;
   font-size: 2rem;
   text-shadow: 2px 2px 12px rgba(0,0,0,0.7);
}


.about-me {
   height: 100vh;
   width: 100%;
   background-image: url(../naruto-concept-art-7680x4320.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* experience */
.experience,
.about-me,
.skills {
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;     
   justify-content: flex-start;
   align-items: center;
   padding-top: 120px;
}


.about-me p {
   max-width: 800px;
   margin: auto;
   font-size: 20px;
   line-height: 1.6;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding-left: 40px;
   text-shadow: 2px 2px #e7a5a5;
}
.skills{
   height: 100vh;
   width: 100%;
   background-image: url(../itachi.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
}

.contact{
   background:rgb(252, 252, 252);
   height:10vh;
   width:100%;
   padding: 20px;
   padding-right: 40px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.about-me,
.experience,
.skills {
    position: relative;
    overflow: hidden;
}

.about-me::before,
.experience::before,
.skills::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.47);
    z-index: 1;
}
.about-me h1,
.about-me p,
.experience h1,
.skills h1,
.skills p {
    position: relative;
    z-index: 2;
    color: white;
}
