
html, body{
    height:100%;
}
.navbar{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(157, 165, 206);
    padding: 15px 40px;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: center;
     scroll-behavior: smooth;
 

 

}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
    color: rgb(4, 15, 73);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    display: flex;
    justify-content: right;
    align-items: right;
}
.navbar a {
    color:rgb(29, 23, 66);
    text-decoration: none;
    font-weight: bold;
}
h1{
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.about-me p{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-family:'Times New Roman', Times, serif
}
