html, body{
    height:100%;
}
.navbar{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 15px 40px;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
    color: rgb(4, 15, 73);
    font-family: 'Inter', 'Poppins', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar a {
    color:white;
    text-decoration: none;
    font-weight: bold;
}
h1{
    background-position: center;
}
