*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html, body {
   height: 100%;
   margin: 0;
}

html{
   scroll-behavior: smooth;
}

.navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: rgb(12, 87, 2);
   padding: 15px 40px;
   z-index: 2000;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-top:1.5rem;
   padding-bottom:2rem;
   border-style:double;
   
}


.navbar ul {
   list-style: none;
   display: flex;
   gap: 30px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size: 13px;
   margin: 0;
   padding: 0;
}

.navbar a {
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-weight: bold;

   
}


.experience {
   height: 100vh;
   width: 100%;
   background-image: url(../sasuke.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
}


.experience h1 {
   color: white;
   font-size: 2rem;
   text-shadow: 2px 2px 12px rgba(0,0,0,0.7);


}


.about-me {
   height: 100vh;
   width: 100%;
   background-image: url(../naruto-concept-art-7680x4320.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
}


.experience,
.about-me,
.skills {
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;     
   justify-content: flex-start;
   align-items: center;
   padding-top: 120px;
}


.about-me p {
   max-width: 800px;
   margin: auto;
   font-size: 20px;
   line-height: 1.6;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding-left: 40px;
    text-shadow: 2px 2px #e7a5a5;
}
.skills{
   height: 100vh;
   width: 100%;
   background-image: url(../itachi.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
}